a:link, a:active, a:visited {
    color: #ffffff;
    text-decoration: underline;
}
a:hover {
    color: Yellow;
}

body {
/*    background-color: #555555; */
}

h2{
	color: #ffffff
}

#main {
	background-color: Black;
	background-image: url(https://res.beyondunreal.com/skin/ut09/images/bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff;
}

#header {
/*    background-image: url(topbar_b.gif); 
    background-repeat: repeat-x;
    background-color: #d1d1d1; */
    padding-bottom: 5px;
    height: 110px;
}

#header:after { clear:both; margin-top: 40px; }

#bulogo {
    background-image: url(https://res.beyondunreal.com/skin/ut09/logos/bu_logo.png);
    background-repeat: no-repeat;
    margin : 0px !important;
    width: 323px;
    height: 110px;
}

.bulogo {
    background-image: url(https://res.beyondunreal.com/skin/ut09/bu_logo.png);
    background-repeat: no-repeat;
    margin : 0px !important;
    width: 323px;
    height: 110px;
}

.sidebar {
	border: none;
	background-image: url(https://res.beyondunreal.com/skin/ut09/images/sidebar_back.png);
	background-repeat: repeat;
	margin: 31px 0px 0px 0px !important; 
	color: white;
	background-color: transparent;
}

.sidebar-nav h3 {
    padding-top: 4px;
    padding-bottom: 5px;
	 color: #ffffff;
}

.sidebar-nav {
    margin: 0px -12px;
    padding: 12px;
}

#left-bar .sidebar-nav {
    background-image: url(https://res.beyondunreal.com/skin/ut09/images/sidebar_hrleft.png);
}
#right-bar .sidebar-nav {
	background-image: url(https://res.beyondunreal.com/skin/ut09/images/sidebar_hrright.png);
}

#right-bar {
    top: 140px;
}

.sidebar a, .sidebar a:visited, .sidebar a:active  {
    color: #ffffff;
    text-decoration: underline;
}
.sidebar a:hover    {
	color: Yellow;
	text-decoration: underline;
}



#main #body {
    margin: 0px 160px;
}
#main.large-page #body {
    margin : 0px 10px 0px 160px;
 
}

#feature {
    font-size: 12px;
    color: #ffffff; 
}

#feature img{
    border: 1px solid #818181;
}

#feature h3, #feature h2, #feature h1{
    color: #ffffff;	 
}

#feature a, #feature a:visited, #feature a:active  {
    color: #ffffff;
}
#feature a:hover    {
	color: Yellow;
	text-decoration: underline;
}

#feature-tab-area {
/*    background-color: silver; */
    background-image: url(https://res.beyondunreal.com/skin/ut09/images/features_bg.png);
	 background-color: transparent;	 
    border: 1px solid #818181;
}

#feature-tab-area a, #feature-tab-area a:visited, #feature-tab-area a:active  {
    color: #ffffff !important;
    text-decoration: underline;
}
#feature-tab-area a:hover    {
	color: Yellow !important;
	text-decoration: underline;
}

#skinselect {
    padding: 5px 0 15px 0;
}

#left-bar .sidebar-inner-1 {
    background-image: url(https://res.beyondunreal.com/skin/ut09/images/sidebar_right_top_back.png);
    background-repeat: no-repeat;
    margin: -31px 0px 0px 0px;
/*    padding: 12px; */
}

#right-bar .sidebar-inner-1 {
    background-image: url(https://res.beyondunreal.com/skin/ut09/images/sidebar_left_top_back.png);
    background-repeat: no-repeat;
    margin: -31px 0px 0px 0px;
/*    padding: 12px; */	 
}

#right-bar .sidebar-inner-2 {
	background-image: url(https://res.beyondunreal.com/skin/ut09/images/sidebar_right_bottom_back.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	margin: 0px 0px -31px 0px; 
/*    padding: 12px; */
}

#left-bar .sidebar-inner-2 {
    background-image: url(https://res.beyondunreal.com/skin/ut09/images/sidebar_left_bottom_back.png);
    background-repeat: no-repeat;
    background-position: bottom right;
	margin: 0px 0px -31px 0px; 
/*    padding: 12px; */
}

#content {
	background-image: url(https://res.beyondunreal.com/skin/ut09/images/features_bg.png);
	background-color: transparent;
	border: 2px solid #8BC9DC;
	color: #ffffff;
}

#content h3{
	color: #ffffff;
}

.news-links{
    font-size: 12px;
    color: #ffffff;	 	
}

.news-links a, .news-links a:visited, .news-links a:active{
    color: #ffffff;
    text-decoration: underline;	
}

.news-links a:hover{
	color: Yellow;
	text-decoration: underline;
}

.byline a, .byline a:visited, .byline a:active{
    color: #ffffff;
    text-decoration: underline;	
}

.byline a:hover{
	color: Yellow;
	text-decoration: underline;
}

.news-body{
    font-size: 12px;
    color: #ffffff;	 	
}

.news-body a, .news-body a:visited, .news-body a:active{
    color: #ffffff;
    text-decoration: underline;	
}

.news-body a:hover{
	color: Yellow;
	text-decoration: underline;
}

.poll-results-bar {
    background: #d3d3d3;
}

#content h2 {
	color: #BCBD00;
}


.tab-area {
    margin-top: 10px;
}
a.tab {
    top: 9px;
}
.tab-bar a.tab.active-tab, .tab-bar a.tab.active-tab:active, .tab-bar a.tab.active-tab:visited {
/*    background-color: silver; */
    background-image: url(https://res.beyondunreal.com/skin/ut09/images/features_bg_act.png);
	background-color: transparent;	 
    border: 1px solid #818181;
	border-bottom: none;
    color: #ffffff;
    font-size: 11px;
}
.tab-bar a.tab:hover {
    background-image: url(https://res.beyondunreal.com/skin/ut09/images/features_bg.png);
	background-color: transparent;	 
    border: 1px solid #818181;
	border-bottom: none;
    color: #ffffff;
}
.tab-bar a.tab, a.tab:active, a.tab:visited {
    background-image: url(https://res.beyondunreal.com/skin/ut09/images/features_bg.png);
	 background-color: transparent;	 
    border: 1px solid #818181;
    color: #ffffff;
}
