@charset "UTF-8";

/* --- events.css --- */

.news_feed_page_global .eventList:first-of-type
{
	border-top: 1px solid rgb(48, 48, 48);
}

.event
{
	overflow: hidden; zoom: 1;
}

	.event .avatar,
	.event .icon
	{
		float: left;
	}
	
	.event .content
	{
		margin-left: 65px;
		padding-top: 1px;
	}
	
		.event .NewsFeedItemHider
		{
			float: right;
			margin-left: 5px;
		}
	
		.event .content .description
		{
			color: rgb(113, 113, 113);
		}
	
			.event .content .description em
			{
				color: rgb(235, 235, 235);
			}
	
		.event .content .options
		{
			float: right;
			font-size: 11px;
		}
		
		.event .content .primaryText
		{
			font-weight: bold;
		}
		
		.event .content .title
		{
			line-height: 16px;
			margin-top: 5px;
		}
		
		.event .content .minorTitle
		{
			font-size: 11px;
			line-height: 16px;
			margin-top: 5px;
		}
		
		.event .content .snippet
		{
			margin: 5px 0;
			
			font-size: 15px;
font-family: 'Open Sans', sans-serif;
line-height: 1.7;
;
			
			font-size: 11px;
			font-style: italic;
		}
		
		.event .content .DateTime
		{
			display: block;
			color: rgb(113, 113, 113);
			font-size: 11px;
			margin-top: 5px;
		}
		
		.event .content .icon
		{
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			vertical-align: middle;
		}
		
		
		.event .content .attachedImages		
		{
		}
		
			.event .content .attachedImages:hover,
			.event .content .attachedImages:active
			{
				outline: 0 none;
				text-decoration: none;
			}
			
				.event .content .attachedImages img
				{
					max-height: 32px;
				}

/* --- fa_socialicons.css --- */

.socialicons
{
	float: right;
	margin-top: 10px;
}
.socialicons li
{
	display: inline-block;
}
.socialicons li a
{
	padding: 10px;
	font-size: 24px;
	color: rgb(235, 235, 235);
}
.socialicons li a:hover
{
	color: rgb(203, 119, 0);
}

/* --- login_bar.css --- */

/** Login bar basics **/

#loginBar
{
	color: rgb(235, 235, 235);
background-color: rgb(45, 45, 45);
border-bottom: 1px solid rgb(88, 88, 88);
position: relative;
z-index: 1000;

}

	#loginBar .ctrlWrapper
	{
		margin: 0 10px;
	}

	#loginBar .pageContent
	{
		padding-top: 5px;
		position: relative;
		_height: 0px;
	}

	#loginBar a
	{
		color: rgb(112, 112, 112);

	}

	#loginBar form
	{
		padding: 5px 0;
margin: 0 auto;
display: none;
line-height: 20px;
position: relative;

	}
	
		#loginBar .xenForm .ctrlUnit,		
		#loginBar .xenForm .ctrlUnit > dt label
		{
			margin: 0;
			border: none;
		}
	
		#loginBar .xenForm .ctrlUnit > dd
		{
			position: relative;
		}
	
	#loginBar .lostPassword,
	#loginBar .lostPasswordLogin
	{
		font-size: 11px;
	}
	
	#loginBar .rememberPassword
	{
		font-size: 11px;
	}

	#loginBar .textCtrl
	{
		color: rgb(155, 155, 155);
background-color: rgb(50, 50, 50);
border-color: rgb(88, 88, 88);

	}
	
	#loginBar .textCtrl[type=text]
	{
		font-weight: bold;
font-size: 18px;

	}

	#loginBar .textCtrl:-webkit-autofill /* http://code.google.com/p/chromium/issues/detail?id=1334#c35 */
	{
		background: rgb(50, 50, 50) !important;
		color: rgb(155, 155, 155);
	}

	#loginBar .textCtrl:focus
	{
		background: black none;

	}
	
	#loginBar input.textCtrl.disabled
	{
		color: rgb(70, 70, 70);
background-color: rgb(45, 45, 45);
border-style: dashed;

	}
	
	#loginBar .button
	{
		min-width: 85px;
		*width: 85px;
	}
	
		#loginBar .button.primary
		{
			font-weight: bold;
		}
		
/** changes when eAuth is present **/

#loginBar form.eAuth
{
	-x-max-width: 700px; /* normal width + 170px */
}

	#loginBar form.eAuth .ctrlWrapper
	{
		border-right: 1px dotted rgb(70, 70, 70);
		margin-right: 200px;
		box-sizing: border-box;
	}

	#loginBar form.eAuth #eAuthUnit
	{
		position: absolute;
		top: 0px;
		right: 10px;
	}

		#eAuthUnit li
		{
			margin-top: 10px;
			line-height: 0;
		}
	
/** handle **/

#loginBar #loginBarHandle
{
	font-size: 11px;
color: rgb(235, 235, 235);
background-color: rgb(45, 45, 45);
padding: 0 10px;
margin-right: 20px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
position: absolute;
right: 180px;
bottom: -20px;
text-align: center;
z-index: 1;
line-height: 20px;
box-shadow: 0px 2px 5px rgb(45, 45, 45);

}


@media (max-width:800px)
{
	.Responsive #loginBar form.eAuth .ctrlWrapper
	{
		border-right: none;
		margin-right: 10px;
	}

	.Responsive #loginBar form.eAuth #eAuthUnit
	{
		position: static;
		width: 180px;
		margin: 0 auto 10px;
	}
}


/* --- news_feed.css --- */

.newsFeed
{
}

.NewsFeedEnd
{
}

.NewsFeedEnd a
{
	overflow: hidden; zoom: 1;
}

.newsFeed .extra
{
	font-size: 11px;
	margin-top: 5px;
	text-align: right;
}

/* --- notices.css --- */

.hasJs .FloatingContainer .Notice
{
	display: none;
}

.FloatingContainer
{
	position: fixed;
	width: 300px;
	z-index: 9997;
	top: auto;
	left: auto;
	bottom: 0;
	right: 20px;
}

.Notices .Notice .blockImage
{
	padding: 10px 0 5px 10px;
}

.Notices .Notice .blockImage,
.FloatingContainer .floatingImage
{
	float: left;
}

.Notices .Notice .blockImage img,
.FloatingContainer .floatingImage img
{
	max-width: 48px;
	max-height: 48px;
}

.Notices .hasImage,
.FloatingContainer .hasImage
{
	margin-left: 64px;
	min-height: 52px;
}

.FloatingContainer .floatingItem
{
	display: block;
	padding: 10px;
	font-size: 11px;
	position: relative;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 6px;
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.25);
}

.FloatingContainer .floatingItem.primary
{
	background-color: rgb(45, 45, 45);
	border-color: rgb(70, 70, 70);
}

.FloatingContainer .floatingItem.secondary
{
	color: rgb(73, 73, 73);
	background-color: rgb(156, 156, 156);
	border-color: rgb(203, 203, 203);
}

.FloatingContainer .floatingItem.dark
{
	color: #fff;
	background: black;
	background: url(rgbaf42d.png?r=0&amp;g=0&amp;b=0&amp;a=204); background: rgba(0,0,0, 0.8); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
	border-color: #333;
}

.FloatingContainer .floatingItem.light
{
	color: #000;
	background: white;
	background: url(rgba571f.png?r=255&amp;g=255&amp;b=255&amp;a=204); background: rgba(255,255,255, 0.8); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	border-color: #ddd;
}

.FloatingContainer .floatingItem .title
{
	font-size: 14px;
	padding-bottom: 5px;
	font-weight: bold;
	display: block;
}

.FloatingContainer .floatingItem .DismissCtrl
{
	position: static;
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	margin-top: -5px;
}

.Notices
{
	display: none;
}


	@media (max-width:800px)
	{
		.Responsive .Notice.wide { display: none !important; }
	}
	
	@media (max-width:610px)
	{
		.Responsive .Notice.medium { display: none !important; }
	}
	
	@media (max-width:480px)
	{
		.Responsive .Notice.narrow { display: none !important; }
		
		.Responsive .FloatingContainer
		{
			right: 50%;
			margin-right: -150px;
		}
	}


/* --- panel_scroller.css --- */

.hasJs .Notices.PanelScroller { display: none; }

.PanelScroller .scrollContainer,
.PanelScrollerOff .panel
{
	background-color: rgb(25, 175, 126);
padding: 3px;
margin-bottom: 10px;
border-radius: 0px;
font-size: 13pt;

}

.PanelScroller .PanelContainer
{
	position: relative;
	clear: both;
	width: 100%;
	overflow: auto;
}

	.hasJs .PanelScroller .Panels
	{
		position: absolute;
	}

	.PanelScroller .Panels
	{
		clear: both;
		margin: 0;
		padding: 0;
	}
	
		.PanelScroller .panel,
		.PanelScrollerOff .panel
		{
			overflow: hidden;
			position: relative;
			padding: 0 !important;

			padding: 10px;
color: #FFF;

		}
			
		.PanelScroller .panel .noticeContent,
		.PanelScrollerOff .panel .noticeContent
		{
			padding: 10px;
		}

/** panel scroller nav **/

.PanelScroller .navContainer
{
	margin: -11px 21px 10px;
overflow: hidden;
zoom: 1;

}

.PanelScroller .navControls
{
	float: right;
}

/* clearfix */ .PanelScroller .navControls { zoom: 1; } .PanelScroller .navControls:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

	.PanelScroller .navControls a
	{
		font-size: 11px;
color: rgb(255, 255, 255);
background-color: rgb(25, 175, 126);
padding: 3px 6px 2px;
margin-right: 3px;
margin-left: -1px;
float: left;
display: block;
position: relative;

		
		border-radius: 0px;
		border-radius: 0;
	}
	
		.PanelScroller .navControls > a:first-child
		{
			border-bottom-left-radius: 0px;
		}
		
		.PanelScroller .navControls > a:last-child
		{
			border-bottom-right-radius: 0px;
		}
		
		.PanelScroller .navControls a:hover
		{
			color: rgb(228, 228, 228);
text-decoration: none;

		}
		
		.PanelScroller .navControls a.current
		{
			
		}
		
			.PanelScroller .navControls a .arrow
			{
				display: none;
			}
			
			.PanelScroller .navControls a.current span
			{
				display: block;
				line-height: 0px;
				width: 0px;
				height: 0px;
				border-top: 5px solid rgb(70, 70, 70);
				border-right: 5px solid transparent;
				border-bottom: 1px none black;
				border-left: 5px solid transparent;
				-moz-border-bottom-colors: rgb(70, 70, 70);
				position: absolute;
			}
			
			.PanelScroller .navControls a.current .arrow
			{
				border-top-color: ;
				top: 0px;
				left: 50%;
				margin-left: -5px;
			}
			
				.PanelScroller .navControls a .arrow span
				{
					border-top-color: rgb(25, 175, 126);
					top: -6px;
					left: -5px;
				}
				
/* notices */

.Notices .panel .noticeContent
{
	padding-right: 25px;
}
