@charset "UTF-8";

/* --- facebook.css --- */

a.fbLogin,
#loginBar a.fbLogin
{
	display: inline-block;
	width: 180px;
	height: 33px;
	box-sizing: border-box;
	cursor: pointer;
	
	background-color: #3B5998;
	border-radius: 2px;
	padding: 0px 0px 0px 1px;
	outline: none;
	
	text-decoration: none;
	color: white;
	font-weight: normal;
	font-size: 12px;
	line-height: 32px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.06) inset;
}

a.fbLogin:hover,
#loginBar a.fbLogin:hover
{
	text-decoration: none;
}

	a.fbLogin span
	{
		display: block;
		padding: 2px 4px 3px;
		margin: 1px 1px 0px 0px;
		text-shadow: none;
		white-space: nowrap;
		overflow: hidden;
		line-height: 31px;
		text-align: center;
	}

a.fbLogin span:before
{
	display: inline-block;
	font-family: FontAwesome;
	content: "\f09a";
	float: left;
	padding-left: 15px;
	font-size: 17px;
	line-height: 32px;
}

a.fbLogin:hover, a.fbLogin:active
{
	box-shadow: none;
}

/* --- login_bar.css --- */

/** Login bar basics **/

#loginBar
{
	color: rgb(203, 204, 205);
background-color: rgb(24, 24, 24);
border-bottom: 0px solid rgb(24, 24, 24);
position: relative;
z-index: 1000;

}

	#loginBar .ctrlWrapper
	{
		margin: 0 10px;
	}

	#loginBar .pageContent
	{
		padding-top: 0px;
		position: relative;
		_height: 0px;
	}

	#loginBar a
	{
		color: rgb(186, 187, 188);

	}

	#loginBar form
	{
		padding: 5px 0;
margin: 0 auto;
display: none;
line-height: 20px;
position: relative;

	}
	
		#loginBar .xenForm .ctrlUnit,		
		#loginBar .xenForm .ctrlUnit > dt label
		{
			margin: 0;
			border: none;
		}
	
		#loginBar .xenForm .ctrlUnit > dd
		{
			position: relative;
		}
	
	#loginBar .lostPassword,
	#loginBar .lostPasswordLogin
	{
		font-size: 11px;
	}
	
	#loginBar .rememberPassword
	{
		font-size: 11px;
	}

	#loginBar .textCtrl
	{
		color: rgb(245, 245, 245);
background-color: rgb(35, 35, 35);
border-color: rgb(54, 54, 54);

	}
	
	#loginBar .textCtrl[type=text]
	{
		font-weight: bold;
font-size: 18px;

	}

	#loginBar .textCtrl:-webkit-autofill /* http://code.google.com/p/chromium/issues/detail?id=1334#c35 */
	{
		background: rgb(35, 35, 35) !important;
		color: rgb(245, 245, 245);
	}

	#loginBar .textCtrl:focus
	{
		color: rgb(179, 61, 57);
background-image: none;
border-color: rgb(61, 61, 61);

	}
	
	#loginBar input.textCtrl.disabled
	{
		color: rgb(203, 204, 205);
background-color: rgb(24, 24, 24);
border-style: dashed;

	}
	
	#loginBar .button
	{
		min-width: 85px;
		*width: 85px;
	}
	
		#loginBar .button.primary
		{
			font-weight: bold;
		}
		
/** changes when eAuth is present **/

#loginBar form.eAuth
{
	-x-max-width: 700px; /* normal width + 170px */
}

	#loginBar form.eAuth .ctrlWrapper
	{
		border-right: 1px dotted rgb(24, 24, 24);
		margin-right: 200px;
		box-sizing: border-box;
	}

	#loginBar form.eAuth #eAuthUnit
	{
		position: absolute;
		top: 0px;
		right: 10px;
	}

		#eAuthUnit li
		{
			margin-top: 10px;
			line-height: 0;
		}
	
/** handle **/

#loginBar #loginBarHandle
{
	font-size: 14px;
color: rgb(245, 245, 245);
background-color: rgb(24, 24, 24);
padding: 0 10px;
margin-right: 20px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
position: absolute;
right: 0px;
bottom: -20px;
text-align: center;
z-index: 1;
line-height: 20px;
box-shadow: 0px 2px 5px rgb(24, 24, 24);

}


@media (max-width:800px)
{
	.Responsive #loginBar form.eAuth .ctrlWrapper
	{
		border-right: none;
		margin-right: 10px;
	}

	.Responsive #loginBar form.eAuth #eAuthUnit
	{
		position: static;
		width: 180px;
		margin: 0 auto 10px;
	}
}


/* --- nat_public_css.css --- */

.natMenuLevel0
{
	padding-left: 0px;
}

.natMenuLevel1
{
	padding-left: 10px;
}

.natMenuLevel2
{
	padding-left: 20px;
}

.natMenuLevel3
{
	padding-left: 30px;
}

.natMenuLevel4
{
	padding-left: 40px;
}

.natMenuLevel5
{
	padding-left: 50px;
}

.natMenuLevel6
{
	padding-left: 60px;
}

.natMenuLevel7
{
	padding-left: 70px;
}

.natMenuLevel8
{
	padding-left: 80px;
}

.natMenuLevel9
{
	padding-left: 90px;
}

.natMenuLevel10
{
	padding-left: 100px;
}



/* STYLING TO MAKE COLUMN MENUS WORK */
div.natJSMenuColumns
{
	background-color: rgb(245, 245, 245);
	background-color: rgba(245, 245, 245, 0.96);
}

/* STYLING TO MAKE COLUMN MENUS WORK */
div.natJSMenuColumns ul
{
	float: left;
	border-bottom: 0px;
	background-color: transparent !important;
	max-height: none !important;
}







/* --- pagenode.css --- */

#pageNodeContent
{
	padding: 10px 0;
}

/* clearfix */ #pageNodeContent { zoom: 1; } #pageNodeContent:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

	#pageNodeContent .bottomContent
	{
		clear: both;
		padding-top: 10px;
	}
	
	/* clearfix */ #pageNodeContent .bottomContent { zoom: 1; } #pageNodeContent .bottomContent:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

	#pageNodeContent .pageCounter
	{
		margin-top: 10px;
		float: right;
		font-size: 11px;
	}
	
		#pageNodeContent .pageCounter dd
		{
			font-weight: normal;
		}
			
/* ------------------- */

#pageNodeNavigation
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;	
	font-size: 11px;
	
	padding: 5px;
	border: 1px solid rgb(237, 237, 237);
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
}

	#pageNodeNavigation li
	{
		_display: inline; /* whitespace bug */
	}
			
/* ------------------- */

.pageStats dt
{
	margin-left: 1em;
}


@media (max-width:480px)
{
	.Responsive #pageNodeNavigation
	{
		float: none;
	}
}


/* --- pe_bigblock.css --- */

.pebigblock
{
	width: 100%;
	background: url(https://pixelexit.com/styles/pixelexit4/xenforo/sources/pattern.png) repeat #2d3f51;
	border-bottom:  4px solid rgb(21, 26, 31); border-bottom:  4px solid rgba(21, 26, 31, 0.26); _border-bottom:  4px solid rgb(21, 26, 31);
	border-top:  4px solid rgb(21, 26, 31); border-top:  4px solid rgba(21, 26, 31, 0.26); _border-top:  4px solid rgb(21, 26, 31);
	color: #FFF;
	height: 120px;
	line-height: 120px;
	font-size: 30px;
	margin: 10px 0;
	text-align: center;
	letter-spacing: 0.0625em;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}
.pebigblock a
{
	background-color: rgb(179, 61, 57);
	padding: 5px 15px;
	border: 1px solid rgb(179, 61, 57);
	margin-left: 20px;
	transition: all .3s ease-in;  
}
.pebigblock:hover a
{
	text-decoration: none;
	color: #CCC;
}

/* --- pe_blocks.css --- */

.pewrapper
{
	width: 100%;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	float: none !important;
	padding: 20px 40px;
}
.pewrapper:after
{
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.pewrapper .peblock
{
	width: 33.3%;
	float: left;
	display: block;
	position: relative;
	padding: 5px 10px;
	text-align: center;
}
.peblocktext .fa
{
	background-color: #F2F2F2;
	border: 1px solid #E8E8E8;
	border-radius: 100%;
	color: rgb(24, 24, 24);
	font-size: 34px;
	padding: 20px;
	margin-bottom: 5px;
}
.peblocktext
{
	padding-left: 25px;
}
.peblocktext h4
{
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	color: rgb(24, 24, 24);
	border-bottom: 1px solid #ededed;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.peblocktext a
{
	color: rgb(179, 61, 57);
	font-weight: bold;
}
.peblocktext p
{
	line-height: 25.2px;
	font-size: 14px;
}
#content .pageContent * {
    box-sizing: border-box;
}

/* --- pe_ourstyles.css --- */

.peourStyles
{
	width: 100%;
	background: url(https://pixelexit.com/styles/pixelexit4/xenforo/sources/pattern.png) repeat #2d3f51;
	border-bottom:  4px solid rgb(21, 26, 31); border-bottom:  4px solid rgba(21, 26, 31, 0.26); _border-bottom:  4px solid rgb(21, 26, 31);
	border-top:  4px solid rgb(21, 26, 31); border-top:  4px solid rgba(21, 26, 31, 0.26); _border-top:  4px solid rgb(21, 26, 31);
	color: #FFF;
	height: 120px;
	line-height: 120px;
	font-size: 30px;
	margin: 10px 0;
	text-align: center;
	letter-spacing: 0.0625em;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}

/* --- pe_styles.css --- */

.peStyles
{
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}
.peStyles ul li
{
	width: 33.3%;
	display: block;
	float: left;
	margin-bottom: 10px;
}

.peStyles ul li a:hover span
{
	display: block;
}


.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgb(76, 93, 112);
	color: rgb(186, 187, 188);
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: rgb(179, 61, 57);
	color: #fff;
}
.grid figcaption a:hover
{
	color: #f1f1f1;
	text-decoration: none;
}
/* Individual Caption Styles */



/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
	max-width: 300px;
	margin: 0 auto;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	opacity: 0.9;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-webkit-transform: translateY(-50px); -ms-transform: translateY(-50px);transform: translateY(-50px);
	opacity: 1;
}

.cs-style-3 figcaption
{
	height: 70px;
	width: 300px;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-webkit-transform: translateY(100%); -ms-transform: translateY(100%);transform: translateY(100%);
	font-size: 13px;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-webkit-transform: translateY(0px); -ms-transform: translateY(0px);transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption .stylebuttons {
	position: absolute;
	bottom: 20px;
	right: 20px;
}


@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

/* --- share_page.css --- */

.sharePage
{
}

/* clearfix */ .sharePage { zoom: 1; } .sharePage:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

	.sharePage .shareControl
	{
		float: left;
	}
	
	.sharePage .tweet
	{
		margin-right: 30px;
	}

	.sharePage .facebookLike .label
	{
		font-size: 11px;
		line-height: 24px;
		float: left;
		margin-right: 7px;
		display: none;
	}
	
	.sharePage iframe
	{
		height: 20px;
	}
	
	.sharePage .facebookLike iframe
	{
		z-index: 52;
	}
	



@media (max-width:480px)
{
	.Responsive .sharePage
	{
		display: none;
	}
}


/* --- twitter.css --- */

a.twitterLogin,
#loginBar a.twitterLogin
{
	display: inline-block;
	width: 180px;
	height: 33px;
	box-sizing: border-box;
	cursor: pointer;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fff, #dedede);
	background-image: linear-gradient(#fff, #dedede);
	border: #ccc solid 1px;
	border-radius: 2px;	
	color: #333 !important;
	font-weight: normal;
	font-size: 12px;
	line-height: 31px;
}

	a.twitterLogin span
	{
		display: block;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
		white-space: nowrap;
		overflow: hidden;
		text-align: center;
	}
a.twitterLogin span:before
{
	display: inline-block;
	font-family: FontAwesome;
	content: "\f099";
	float: left;
	padding-left: 15px;
	font-size: 17px;
	line-height: 32px;
	color: #4099FF;
}

a.twitterLogin:hover,
#loginBar a.twitterLogin:hover,
a.twitterLogin:active,
#loginBar a.twitterLogin:active
{
	border-color: #d9d9d9;
	background-image: -webkit-linear-gradient(#f8f8f8, #d9d9d9);
	background-image: linear-gradient(#f8f8f8, #d9d9d9);
	text-decoration: none;
}

/* --- xb.css --- */



.message.deleted .messageInfo.primaryContent {
min-height: 0;
}
input[type=submit].button {
-webkit-appearance: none;
}
.footerLegal {
  margin-bottom: 40px;
}
.XenBase .pollBlock .question .questionText { color: rgb(179, 61, 57); }

.footerBlock img {
    float: left;
    margin-top: 10px;
}


.xb_goToTop_button
{
	float: right;
	margin-top: 13px;
	line-height: 0;
}
.xb_goToTop_button a
{
	background: #333;
	border: 1px solid #424242;
	padding: 1px 5px 0;
	border-radius: 50%;
	min-width: 16px;
	min-height: 16px;
}
.xb_goToTop_button .fa
{ 
	position: relative;
	top: 2px;
}

dl.pairsJustified.activeLicense,  dl.pairsJustified.inactiveLicense,  dl.pairsJustified.expiredLicense
{
	margin: 0 5px;
	display: inline-block;
	float: left;
}
.peLicenses {
    text-align: center;
    display: inline-block;
    margin: 0 0 0 8px;
}
.navigationSideBar .heading
{
	font-size: 15px;
}
.activeLicense dt { color: green; margin-right: 2px; }
.inactiveLicense dt { color: gray; margin-right: 2px; }
.expiredLicense dt { color: red; margin-right: 2px; }
.activeLicense dd, .activeLicense dd, .expiredLicense dd
{
	float: left;
}
dl.pairsJustified.userLicense
{
	clear: both;
	margin: 0px 14px 5px;
}

html .downloadButton
{
	background: rgb(183, 24, 18);
	border: none;
	border-radius: 0;
	font-size: 14px;
	font-family: 'PT Sans',sans-serif;
	color: #fff;
	text-transform: uppercase;
}
html .downloadButton:hover { background: rgb(183, 24, 18); }

html .downloadButton .inner:hover, html .downloadButton:hover .inner {
background: none;
color: #ebebeb;
}

html .downloadButton .inner { background: none; }

a.callToAction.AddToCart {
padding: 8px 0;
font-weight: bold;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.54);
}

html .xbTooltipBottom:hover:after
{
	bottom: -37px;
	line-height: 20px;
}

.forum_list .xbnodeStatsContainer dl
{
	color: rgb(169, 207, 71);
}

html .cartOverview
{
	background-color: rgb(242, 241, 207);;
	margin-top: 10px;
	border: 1px solid rgb(194, 200, 107);
	border-radius: 4px;
}
html .cartOverview .cartItems {
border-top: 1px solid rgb(194, 200, 107);
}
html .cartOverview .cartItems span a {
color: rgb(179, 61, 57);
}
html .cartItems .price {
color: rgb(104, 184, 3);
}

#copyright, #legal a, .debugInfo, .debugInfo a
{
	color: rgb(179, 61, 57);
}

#AccountMenu .menuColumns ul a
{
	line-height: 12px;
}

#AccountMenu .fa {
font-size: 1.2em;
}

.Popup.PopupContainerControl.PopupOpen:hover i.fa.fa-bars {
color: rgb(179, 61, 57);
}

li.navTab.Popup.PopupControl.PopupContainerControl.PopupOpen {
border-radius: 0;
}

li.navTab.Popup.PopupControl.PopupContainerControl.PopupOpen:hover .xbTabPopupArrow {
display: none;
}

.item.control.like:before, .item.control.reply:before, .item.control.bookmarks:before, .item.control.edit:before, .item.control.report:before, .item.control.warn:before, .item.control.ip:before,
.item.control.deleteSpam:before, .item.control.history:before, .item.control.delete:before
{
	display: inline-block;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	margin-right: 5px;
}
.item.control.like:before
{
  content: "\f087";
}
.item.control.reply:before
{
  content: "\f122";
}
.item.control.bookmarks:before
{
  content: "\f02e";
}
.item.control.edit:before
{
  content: "\f040";
}
.item.control.report:before
{
  content: "\f071";
}
.item.control.warn:before
{
  content: "\f12a";
  padding-left: 5px;
}
.item.control.ip:before
{
  content: "\f002";
}
.item.control.deleteSpam:before
{
  content: "\f024";
}
.item.control.history:before
{
  content: "\f1da";
}

.item.control.delete:before
{
  content: "\f00d";
}

.navTabs .navTab.Popup .SplitCtrl
{

}

li.navTab.selected .xbTabPopupArrow {
width: 100%;
height: 5px;
background: rgb(179, 61, 57);
position: relative;
}

li.navTab:hover .xbTabPopupArrow {
width: 100%;
height: 5px;
transition: all 0.2s ease-in-out;
background: rgb(179, 61, 57);
position: relative;
}

.fixed .navTabs .navTab a.navLink
{
	color: white ;
}

.navTabs .navTab .SplitCtrl .fa { font-size: 0.7em; color: rgb(57, 75, 101); padding-left: 3px;}



.zippedBanner,
.detourBanner,
.coreBanner,
.apexBanner,
.fusionGamerBanner,
.fragZoneBanner,
.modestBanner,
.adaraBanner,
.splashBanner
{
color: #FFF;
background: #8fc400; /* Old browsers */
background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */
border: 1px solid #61810A;
}

@media (max-width:800px)
{
	.messageUserBlock  .adminBanner
	{
		display: inline-block;
	}	
}

.navTab.members .navLink, .navTab.members .SplitCtrl
{
	display: none !important;
}

.fixed .navTabs
{
	box-shadow: 0px 0px 12px #292E41;
	border-bottom: 1px solid #33447A;
}

.nodeList .categoryStrip:hover a.xbCatTrigger
{
	opacity: 1;
}

.node .nodeInfo.primaryContent:hover .nodeLastPost,
.node .nodeInfo.primaryContent:hover .nodeStats,
.node .categoryForumNodeInfo:hover .nodeLastPost,
.node .categoryForumNodeInfo:hover .nodeStats
{
	opacity: 1;
}




.messageUserBlock .pairsJustified:first-child
{
	margin-left: 5px;
}

.thread_view .pairsRows.secondaryContent /* URL Field Message */
{
	background: url(https://pixelexit.com/rgba.php?r=41&amp;g=204&amp;b=0&amp;a=91); background: rgba(41, 204, 0, 0.36); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5B29CC00,endColorstr=#5B29CC00);
	border: 1px solid #357F1D;
	border-radius: 2px;
	padding: 3px 5px;
	margin-left: 10px;
	float: right;
}

.messageUserBlock .userTitle
{
	text-align: center;
	
}

.messageUserBlock .extraUserInfo
{
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
}

.messageUserInfo:hover .extraUserInfo
{
    opacity: 1;
    max-height: 300px;
}

.message .messageContent
{
	min-height: 214px;
}

.peUserName
{
	text-align: center;
	padding: 0 !important;
}

.resourceListItem .resourceImage .creatorMini img { display: none; }

.xenOverlay a.close, #redactor_modal_close
{
	background: none;
	top: 5px;
	right: 4px;
	text-indent: 0;
	color: transparent;
	width: 25px;
	height: 25px;
}

.xenOverlay a.close:before, #redactor_modal_close:before
{
	content: "\f057";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 175%;
	color: #E05B5B;
}

.productList .fa
{
	margin-right: 5px;
	font-size: 140%;
}

@media (max-width:610px)
{
	.peTopBar .peLeftside a {
    display: block;
    padding: 0 15px;
    text-align: center;
    width: 25px;
}
	.node .nodeStats { display: none; }
	html .node.level_2:last-child:nth-child(odd) .nodeLastPost.secondaryContent
	{
		top: 40px;
		right: 0;
		border: none;
		left: 1px;
	}
	.nodeList li.level_2:nth-child(odd) .primaryContent, .nodeList li.level_2:nth-child(odd) .categoryForumNodeInfo, .nodeList li.level_2:nth-child(odd) .linkNodeInfo, .nodeList li.level_2:nth-child(odd) .pageNodeInfo
	{
		border-right: none;
	}
	.xb_goToTop_button
	{
		margin-right: 20px;
	}
	.Responsive .messageUserBlock
	{
		overflow: ;
	}
}

.xenOverlay a.close:before, #redactor_modal_close:before
{
	content: "\f057";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: rgb(254, 254, 254);
	position: relative;
	top: -6px;
	right: 1px;
}
/* iOS fixes */
.button.primary, .submitUnit .button, input.button, input[type="button"]
{
	-webkit-appearance: none;
	-webkit-border-radius: 2px; 
}

.Popup .PopupOpen .arrowWidget:before
{
	content: "\f077";
	color: rgb(254, 254, 254);
}
.Popup .arrowWidget:before
{
	color: rgb(24, 24, 24);
	content: "\f078";
	display: block;
	font-family: FontAwesome;
	line-height: 13px;
	margin-left: 2px;
}
.navTabs .navTab.PopupClosed:hover .SplitCtrl:before
{
	color: ;
	content: "\f0d7";
	display: block;
	font-family: FontAwesome;
	line-height: 55px;
}
.navTabs .navTab.PopupClosed:hover .SplitCtrl:before
{
	color: ;
}
.navTabs .navTab.PopupClosed:hover .SplitCtrl:hover
{
	text-decoration: none;
}
.iconKey .fa:hover
{
	cursor: help;
}

@media (max-width:610px)
{
	.Responsive .xenOverlay a.close
	{
		width: 16px;
		height: 16px;
		top: 5px;
		right: 6px;
	}
}






.XenBase .userBanner
{
	font-size: 12px;
	font-weight: bold;
	border-radius: 2px;
	padding: 3px 5px;
}

.XenBase .userBanner.bannerStaff
{
	background: #234A71;
	color: #FFF;
	border: 0;	
}

.XenBase .userBanner.adminBanner
{
	background: #712323;
	color: #FFF;
	border: 0;	
}


.messageUserBlock .userBanner
{
	margin-left: -22px;
	margin-right: -22px;
}



.XenBase .userBanner.bannerStaff.wrapped span
{
	background-color: #3B6188;

}
.XenBase .userBanner.adminBanner.wrapped span
{
	background-color: #793A3A;
}
.XenBase .userBanner.wrapped span.before
{
	top: -3px;
	left: 0px;
}

.XenBase .userBanner.wrapped span.after
{
	top: -3px;
	right: 0px;
}



.pollBlock .buttons .button { margin-right: 5px; }



.xbMaxwidth
{
	max-width: 1230px;
	margin: 0 auto;
}
.Menu .xbMaxwidth
{
	max-width: 100%;
}


/* === Login CSS === */
	

#xb_eAuthUnit li
{
	margin-top: 5px;
}



/* === Misc Pages === */
.XenBase .news_feed_page_global .eventList:first-of-type, .XenBase .messageSimpleList.topBorder
{
	border-top-color: rgb(238, 238, 238);
}
.help_bb_codes .bbCode > dl > dd, .smilieList .smilieText, .smilieList .smilieText:hover
{
		
}
.titleBar
{
	
}
.textCtrl .arrowWidget:before
{
	font-size: 18px;
}
.XenBase .navigationSideBar a
{
	font-size: 12px;
	
}
.XenBase .navigationSideBar a:hover
{
		
}
.sharePage .textHeading
{
        color: rgb(179, 61, 57);

}

.profilePage .textWithCount.subHeading .text
{
        color: rgb(255, 255, 255);

}
.profilePage .textWithCount.subHeading .count
{
        
}
.XenBase .mediaContainer .statsSection, .XenBase .mediaContainer .statsSection i, .XenBase .mediaLabel.labelStandard
{
	color: rgb(55, 55, 55);
}



.memberCard .xbUserBanner
{
	margin: 5px 0;
}
.memberListItem .xbUserBanner
{
	margin: -3px 0 5px 0;
}


.displaynone
{
	visibility: hidden;
}

/* MAGICAL WONDERFUL BREADCRUMB */
.pageContent .breadcrumb .crust .arrow, .pageContent .breadcrumb .crust .arrow span
{
	border-top-width: 16px;
	border-bottom-width: 16px;
	border-left-width: 10px;
}
.pageContent .breadcrumb .crust .arrow
{
	right: -10px;
}
.pageContent .breadcrumb
{
	height: 32px;
}
.pageContent .breadcrumb .crust a.crumb
{
	line-height: 32px;
}
.pageContent .breadcrumb .crust .arrow span
{
	top: -16px;
	left: -11px;
}
.pageContent .breadcrumb.showAll
{
	height: auto;
}



/* Magical Page Nav */
.PageNav a, .PageNav .pageNavHeader
{
	height: 25px;
	line-height: 25px;
}
.PageNav .scrollable
{
	height: 27px;
}




.loginButton small.minorText
{
	display: block;
	font-size: 11px;
	font-weight: normal;
	margin-top: 4px;
}
.XenBase #SignupButton
{
	line-height: normal;
	height: auto;
}
.XenBase #SignupButton .inner
{
	padding-top: 8px;
	padding-bottom: 8px;
}



.xbBodyhelper
{
	background: url(https://pixelexit.com/styles/pixelexit4/xenforo/sources/pattern.png) repeat #2d3f51;
position: absolute;
box-shadow: 0 6px 5px 0 rgba(157, 157, 157, 0.54);
width: 100%;
height: 283px;

}


.profilePostListItem
{
	border-top: 1px solid rgb(238, 238, 238);
}
.xenForm .ctrlUnit
{
	padding-top: 10px;
}
.breadBoxTop 
{
	
}
.breadBoxBottom
{
	
}
.XenBase .messageSimple, .XenBase .profilePage .eventList li, .XenBase .searchResult
{
	
}
.nodeList .categoryStrip .nodeTitle a, .navTabs .navTab .navLink, .sidebar .section .primaryContent h3 a, .profilePage .mast .section.infoBlock h3, .sidebar .section .primaryContent h3, .sidebar .section .secondaryContent h3, .sidebar .section .secondaryContent h3 a,
 .discussionList .sectionHeaders a, .discussionList .sectionHeaders a span, a.callToAction span, .button, #SignupButton .inner
{
	
}
.XenBase .discussionListItem .noteRow
{
	color: rgb(20,20,20);
}


.account_two_step_enable .xenForm canvas
{
	background-color: rgb(142, 142, 142);
	padding: 5px;
}





.search_form .xenForm, .search_form_post .xenForm, .search_form_profile_post .xenForm,
.search_form_resource_update .xenForm, .tag_search .xenForm, .xengallery_search_form_media .xenForm,
.nflj_showcase_search_form .xenForm, .nflj_sportsbook_search_form .xenForm
{
	background-color: rgb(252, 252, 252);
padding: 10px;
border: 1px solid rgb(220, 220, 220);
border-radius: 4px;

}


/* Responsive Settings */

@media (max-width:800px)
{
	
	
}
@media (max-width:800px)
{
	
}
@media (max-width:610px)
{
	.XenBase .visitorTabs .navLink .miniMe
	{
		
		margin: 0;
	}
	
	.navLink .accountUsername .xbVisitorText
	{
		display: none;
	}
	#goTop
	{
		opacity: 0.5;
		right: 5%;
	}	
	
		
}

@media (max-width:480px)
{
	.Responsive .navigationSideBar .heading span:before
	{
		content: "\f0c9";
		font-family: FontAwesome;
		font-weight: normal;
		color: rgb(245, 245, 245);
		font-size: 14px;
	}
	.XenBase.Responsive .navigationSideBar .heading span
	{
		position: relative;
		top: -4px;
	}
}


/* --- xb_footer_layouts.css --- */

.extraFooter
{
	font-size: 18px;
font-family: 'PT Sans', sans-serif;
color: rgb(252, 252, 252);
background-color: rgb(36, 45, 54);
padding: 15px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
display: block;
overflow: hidden;

}
.footerBlockContainer
{
	display: table;
	box-sizing:border-box;
	width: 100%;
}
.footerBlock
{
	padding: 0px 20px;
display: table-cell;
box-sizing: border-box;
vertical-align: top;

}
.footerBlockOne		{ width: 100%; }
.footerBlockTwo		{ width: 0; }
.footerBlockThree	{ width: 0; }
.footerBlockFour	{ width: 0; }

.footerBlock p
{
	padding: 6px 0;
line-height: 1.7;

}
.footerBlockOne
{
	
}
.footerBlockTwo
{
	
}
.footerBlockThree
{
	
}
.footerBlockFour
{
	
}
.extraFooter h3
{
	font-size: 17px;
font-family: 'PT Sans', sans-serif;
color: rgb(179, 61, 57);
margin: 0 auto 7px;
letter-spacing: 0.0625em;
text-transform: uppercase;

}
.footerBlock ul.footerList li a
{
	color: rgb(169, 169, 169);
padding: 6px 0;
border-bottom: 1px dashed rgb(220, 220, 220);
display: block;

}
.footerBlock ul.footerList li:last-child a
{
	border-bottom-width: 0px;
}
.footerBlock ul.footerList li a:hover
{
	color: rgb(237, 237, 237);
text-decoration: none;

}
.footerBlock ul.footerList li .fa
{
	color: rgb(186, 187, 188);
margin-right: 5px;

}
.footer .pageContent
{
	border-radius: 0;
}

@media (max-width:800px)
{
	.extraFooter .footerBlock { width: 50%; text-align: center; display: block; float: left; }
}
@media (max-width:610px)
{
	.XenBase .extraFooter .footerBlock { width: 100% !important; display: block; float: none;}
}
@media (max-width:480px)
{

}

@media (max-width:610px)
{
	.Responsive .extraFooter { display: none; }
}


/* --- xb_offcanvas_menu.css --- */

.xbContentWrapper
{
	overflow: hidden;
	position: relative;
}
.xbOffCanvas, .XenBase #xbOffCanvasToggle, .XenBase .xbOffCanvasNew, .xbOffCanvasSubMenu
{
	display: none;
}

@media (max-width:800px)
{
	html, body
	{
		overflow: hidden;
	}
	.Responsive .xbOffCanvas 
	{
		background-color: rgb(33, 33, 33);
padding-bottom: 50px;
position: fixed;
top: 0;
z-index: 7600;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
overflow-y: auto;
display: block;
width: 250px;
height: 100%;

		left: -250px;
	}
	.Responsive .xbOffCanvas.xbOffCanvasOpen
	{
		width:250px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		left: 0;
	}
	.xbOffCanvasSubMenu .secondaryContent
	{
		background-color: transparent;
		border-width: 0;
		padding: 0;
	}
	.Responsive .selected .xbOffCanvasSubMenu
	{
		display: block;
	}
	.XenBase .navTab .xbOffCanvasArrow
	{
		color: rgb(255, 255, 255);
		float: right;
		font-size: 16px;
		padding: 0px 10px;
		position: relative;
		z-index: 1;
		display: block;
		cursor: pointer;
		height: 45px;
		line-height: 45px;
	}
	.Responsive .xbOffCanvas .navLink
	{
		color: rgb(250, 250, 250);
background-color: rgb(33, 33, 33);
padding: 0px 15px;
border-top:  1px solid rgb(0, 0, 0); border-top:  1px solid rgba(0, 0, 0, 0.18); _border-top:  1px solid rgb(0, 0, 0);
border-bottom:  1px solid rgb(255, 255, 255); border-bottom:  1px solid rgba(255, 255, 255, 0.08); _border-bottom:  1px solid rgb(255, 255, 255);
line-height: 45px;
height: 45px;

		display: block;
		box-sizing: border-box;
	}
	.xbOffCanvas .xbOffCanvasSubMenu a
	{
		font-size: 14px;
color: rgb(244, 244, 244);
background-color: rgb(27, 27, 27);
padding: 10px;
border-bottom: 1px solid rgb(37, 36, 36);
border-radius: 0px;

		display: block;
	}
	.navTab.selected .xbOffCanvasArrow .fa:before
	{
		content: "\f077";
	}
	#xbOffCanvasToggle .fa
	{
		font-size: 16px;
		position: relative;
		top: 1px;
	}
	.XenBase .xbOffCanvasNew .fa
	{
		font-size: 16px;
		margin-right: 5px;
	}
	.marginLeft #xbOffCanvasToggle .fa:before
	{
		content: "\f00d";
	}
	.xbOffCanvasMask
	{
		background-color: rgba(45, 45, 45, 0.6);
		cursor: pointer;
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 7500;
		overflow: hidden;
	}
	.XenBase .navTabs .publicTabs .navLink, .Responsive #QuickSearchPlaceholder, .XenBase .navTabs .navTab .SplitCtrl
	{
		display: none;
	}
	.xbOffCanvasContainer 
	{
		overflow: hidden;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		width: 100%;
	}
	.xbOffCanvasContainer.marginLeft
	{
		overflow-y: auto;
		position: relative;
	}
	
	.marginLeft
	{
		margin-left: 250px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	 
	.Responsive .xbOffCanvas.xbOffCanvasClose
	{
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.xbOffCanvasControls
	{
		float: left;
	}	
	.XenBase #xbOffCanvasToggle, .XenBase .xbOffCanvasNew
	{
		cursor:pointer;
		padding:0px 10px;
		height: 55px;
		line-height: 55px;
		color: ;
		display: inline-block;
	}
	.xbOffCanvasMask.xbOffCanvasOpen
	{
		display: block;
	}
	.xbOffCanvas .navLink .itemCount
	{
		font-weight: bold;
		color: white;
		background-color: rgb(183, 24, 18);
		border-radius: 2px;
		position: relative;
		line-height: 20px;
		padding: 0px 5px;
		display: inline-block;
		text-align: center;
		white-space: nowrap;
		word-wrap: normal;
		height: 20px;
		margin-left: 5px;
		font-size: 11px;
	}
	.xbOffCanvas .navLink .itemCount .arrow
	{
		display: none;
	}
}
@media (max-width:480px)
{
	.xbOffCanvasNew span { display: none; }
}

	

/* --- xb_top_bar.css --- */

.xbTopBar
{
	color: rgb(245, 245, 245);
background-color: rgb(18, 21, 29);
display: block;
line-height: 40px;
position: fixed;
bottom: 0;
z-index: 102;
width: 100%;
height: 40px;

}
.xbLeftside
{
	float: left;
}
.xbRightside
{
	float: right;
}
.xbLeftside li, .xbRightside li.mainTopLink
{
	display: inline;
	float: left;
	
}
.xbRightside li.searchTab
{
	float: right;
}
.xbTopBar li:not(.searchTab) a
{
	color: rgb(245, 245, 245);
padding: 5px 10px;

}
@media (max-width:800px)
{
	.xbLeftside { display: none; }
	/*.XenBase .xbRightside { float: none; width: 100%;}*/
	/*.XenBase .xbRightside li { width: 33%; text-align: center; }*/
}
@media (max-width:610px)
{

}
@media (max-width:400px)
{
	.Responsive .mobileView { display: none !important; }
}





/* --- xb_user_panel.css --- */

.ellipsis { text-overflow: ellipsis; }

.xbUserPanelBox
{
	font-weight: bold;
font-size: 12px;
color: rgb(245, 245, 245);
padding: 12px 0px 12px 10px;
margin-top: 14px;
margin-right: 0px;
display: block;
float: right;
height: 60px;

}
.xbUserPanelBox .xbFloatLogo
{
	display: none !important;
}

.xbUserPanelMenus
{
	background: none;
	padding: 0;
	border: none;
	max-height: 25px;
	margin: 0;
	box-shadow: none;
}

.xbUserPanelMenus .visitorTabs
{
	font-size: 13px;
float: left;

}

.xbUserPanelBox .xbUserPanelMenus .newPosts .navLink
{
	color: rgb(255, 128, 0);

}

.xbUserPanelMenus .navLink, .xbUserPanelMenus .SplitCtrl 
{
	font-family: 'PT Sans', sans-serif;
background: url(https://pixelexit.com/rgba.php?r=0&amp;g=0&amp;b=0&amp;a=124); background: rgba(0, 0, 0, 0.49); _filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7C000000,endColorstr=#7C000000);
border:  1px solid rgb(0, 0, 0); border:  1px solid rgba(0, 0, 0, 0.66); _border:  1px solid rgb(0, 0, 0);
border-radius: 4px;
color: #DDDDDD !important;
padding-top: 5px !important;
display: block;
float: left;
vertical-align: text-bottom;
text-align: center;
outline: 0 none;
line-height: 21px;
text-transform: capitalize;
box-shadow: inset 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
height: 50px;

}

.xbUserPanelMenus .navTab.PopupClosed:hover
{
	background-color: rgb(57, 75, 101);
border-radius: 3px;

}

.xbUserPanelBox .visitorTabs .navLink .miniMe
{
	display: none;
}

.xbUserPanelBox .avatar img
{
	padding: 0;
margin: 0;
border-width: 0;
display: block;
width: 32px;
height: 32px;
 
}

.xbUserPanelAvatar
{
	float: left;
}

.xbUserPanelText
{
	margin: 0 10px;
	float: left;
}

{
	display: none;
}

.LoggedIn #navigation .navTabs .visitorTabs { display: none; }

@media (max-width:800px)
{
	#navigation .navTabs .visitorTabs { display: block !important; }
	.xbUserPanelBox { display: none !important; }
	#logoBlock .xbUserPanelBox { display: none !important; }
}
@media (max-width:610px)
{

}
@media (max-width:480px)
{

}
