@CHARSET "UTF-8";

/* --- index.css --- */

#content.index .pageContent 
{
	padding: 20px 0;
}

#Social
{ 
	float: right; 
	width: 320px;
	max-width: 320px;
}

.featureBlocks
{
	margin-top: 10px;
	overflow: hidden; zoom: 1;
	max-width: 640px;
}

	.featureBlocks li
	{
		/*float: left;
		min-height: 115px;*/
		display: inline-block;
		vertical-align: top;
		
		width: 49%;
		margin-bottom: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

.featureBlocks li img
{
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}
	
	.featureBlocks h4
	{
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 5px;
		color: #6cb2e4;
	}

.share
{
	padding-top: 20px;
}

/* clearfix */ .share { zoom: 1; } .share:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

.shareBlock
{
	float: left;
	margin-right: 10px;
}
	
.question
{
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
}

.countdownTitle {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
	color: #6cb2e4;
	text-align: center;
}

.countdown {
	height: 46px;
	margin: 0 32px;
}

	.countdown .dash {
		width: 30px;
		height:44px;
		float: left;
		margin-left: 10px;
		padding-left: 10px;
		border-left: 1px solid rgb(150,150,150);
		position: relative;
	}

		.countdown .dash .digit {
			font-size: 26px;
			font-weight: bold;
			float: left;
			font-family: Arial, sans-serif;
			color: rgb(100,100,100);
			position: relative;
		}

	.countdown .first {
		margin-left: 0;
		padding-left: 0;
		border-left: 0;
	}


	.countdown .dash_title {
		position: absolute;
		display: block;
		bottom: 0px;
		right: 3px;
		font-family: Arial, sans-serif;
		font-size: 9px;
		color: rgb(100,100,100);
		text-transform: uppercase;
		letter-spacing: 0px;
	}

.countdownComplete {
	display: none;
	text-align: center;
	font-weight: bold;
}

.countdownLearnMore {
	margin-top: 5px;
	text-align: center;
}


@media (max-width:860px)
{
	.Responsive .indexMain
	{
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.Responsive .indexMain #spotlight
	{
		display: table-header-group;
	}

	.Responsive .indexMain #Social
	{
		display: table-footer-group;
		margin-top: 5px;
		float: none;
		width: auto;
	}
}

@media (max-width:610px)
{
	#content.index .pageContent
	{
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media (max-width:480px)
{
	.Responsive .featureBlocks li
	{
		width: 100%;
	}
}

